<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="../../component/pear/css/pear.css" />
</head>

<body class="pear-container">
	<div class="layui-card">

		<div class="layui-card-body">
			<form class="layui-form" lay-filter="search_form" action="">
				<div class="layui-form-item">
					<label class="layui-form-label">游戏类型</label>
					<div class="layui-input-inline">
						<select lay-filter="gid" lay-search="" name="gid">
							<option value="">请选择</option>
						</select>
					</div>

					<label class="layui-form-label">区服名称</label>
					<div class="layui-input-inline">
						<input type="text" name="name" placeholder="" class="layui-input">
					</div>
					<label class="layui-form-label"></label>
					<div class="layui-input-inline">
						<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="table-query">
							<i class="layui-icon layui-icon-search"></i>
							查询
						</button>
						<button type="reset" class="pear-btn pear-btn-md">
							<i class="layui-icon layui-icon-refresh"></i>
							重置
						</button>
					</div>
				</div>
			</form>
		</div>

		
	</div>
	<div class="layui-card">
		<div class="layui-card-body">
			<table id="table_list" lay-filter="table_list"></table>
		</div>
	</div>

	<script type="text/html" id="table-toolbar">
		<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="create_info">   <i class="layui-icon layui-icon-add-1"></i>新增</button>
	</script>

	<script type="text/html" id="table-bar">
		<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="modify_info"><i class="layui-icon layui-icon-edit"></i>编辑</button>
		<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="delete_info"><i class="layui-icon layui-icon-delete"></i>删除</button>
	</script>

	<script src="../../component/layui/layui.js"></script>
	<script src="../../component/pear/pear.js"></script>
	<script>
		layui.use(['table', 'form', 'jquery'], function () {
			let table = layui.table;
			let form = layui.form;
			let $ = layui.jquery;

			table.render({
				elem: '#table_list',
				url: ServerURL + "/GameServer/getGameServerList",
				page: true,
				limits: [10, 20, 50, 100],
				totalRow: true,
				autoSort: false,
				cols: [[
					{ field: 'sid', title: 'ID', align: "center",  },
					{ field: 'game_name', title: '游戏类型', align: "center" },
					{ field: 'name', title: '区服名称', align: "center" },
					{ field: 'sort', title: '排序', align: "center" },
					{ field: 'create_time', title: '创建时间', align: "center" },
					{ title: '操作', toolbar: '#table-bar', width: 200, align: "center", fixed: 'right', }
				]],
				skin: 'line',
				headers: { "login-token": LoginToken },
				toolbar: '#table-toolbar',
				defaultToolbar: [{
					layEvent: 'refresh',
					icon: 'layui-icon-refresh',
				}, 'filter', 'print', 'exports'],
				parseData: function (res) { //res 即为原始返回的数据
					return {
						"code": res.code == 200 ? 0 : 1, //解析接口状态
						"msg": res.msg, //解析提示文本
						"count": res.data.count, //解析数据长度
						"data": res.data.list //解析数据列表
					};
				},
				done: function (res, curr, count) {

				}
			});
			//监听排序事件 
			table.on('sort(table_list)', function (obj) { //注：sort 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
				data = $("form").serializeArray();
				whereObj = {}
				whereObj.sort = obj.type
				whereObj.order = obj.field
				$.each(data, function (indexInArray, valueOfElement) {
					whereObj[valueOfElement.name] = valueOfElement.value;
				});
				table.reload('table_list', {
					initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
					, where: whereObj
				});
			});


			table.on('tool(table_list)', function (obj) {
				if (obj.event === 'modify_info') {
					window.modify_info(obj);
				} else if (obj.event === 'delete_info') {
					window.delete_info(obj);
				}
			});

			table.on('toolbar(table_list)', function (obj) {
				if (obj.event === 'create_info') {
					window.create_info();
				} else if (obj.event === 'refresh') {
					window.refresh();
				}
			});

			form.on('submit(table-query)', function (data) {
				table.reload('table_list', {
					where: data.field
				})
				return false;
			});


			window.create_info = function () {
				var index = layer.open({
					title: '创建',
					type: 2,
					shade: 0.2,
					maxmin: true,
					shadeClose: true,
					area: ['80%', '80%'],
					content: '../game/game_server_create.html',
				})
				$(window).on('resize', function () {
					layer.full(index)
				})
			}

			window.modify_info = function (obj) {
				Id = obj.data.sid
				var index = layer.open({
					title: '修改',
					type: 2,
					shade: 0.2,
					maxmin: true,
					shadeClose: true,
					area: ['80%', '80%'],
					content: '../game/game_server_modify.html',
				})
				$(window).on('resize', function () {
					layer.full(index)
				})
			}
			window.delete_info = function (obj) {
				layer.confirm('确定要删除该信息', {
					icon: 3,
					title: '提示'
				}, function (index) {
					layer.close(index);
					let loading = layer.load();
					$.ajax({
						type: 'post',
						url: ServerURL + "/GameServer/deleteGameServer",
						dataType: 'json',
						data: { sid: obj.data.sid },
						success: function (result) {
							layer.close(loading);
							layer.msg(result.msg, {
								icon: 1,
								time: 1000
							}, function () {
								if (result.code == 200) {
									obj.del();
								}
							});
						}
					})
				});
			}

			window.refresh = function (param) {
				table.reload('table_list');
			}
			InitSelect(ServerURL + "/Game/getGameList", 'gid', {limit: 999});
        	form.render();
			//输出接口
			function InitSelect(url, node, data) {
				$.ajax({
					type: "POST",
					url: url,
					data: data,
					dataType: "json",
					async: false,
					success: function (data) {
						var list = data.data.list;
						$("select[name='" + node + "']").html('');
						var option = document.createElement("option");
						option.setAttribute("value", '');
						option.innerText = '请选择';
						$("select[name='" + node + "']").append(option)
						if (list != null || list.size() > 0) {
							for (var c in list) {
								var option = document.createElement("option");
								option.setAttribute("value", list[c].gid);
								option.innerText = list[c].name;
								$("select[name='" + node + "']").append(option)
							}
						}
						;

					}
				});
			}

		})

	</script>
</body>

</html>