<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		note="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>创建</title>
	<link href="../../component/pear/css/pear.css" rel="stylesheet">
</head>

<body class="pear-container">
	<div class="layui-row layui-col-space10">
		<div class="layui-col-md12">

			<div class="layui-card" style="margin-top: 10px; padding-top: 20px;padding-bottom: 20px;">
				<form class="layui-form" action="" lay-filter="MyForm" autocomplete="off">
					<div class="layui-form-item">
						<label class="layui-form-label">游戏类型</label>
						<div class="layui-input-block">
							
							<select lay-filter="gid" lay-search="" name="gid" >
								<option value="" >请选择</option>
							</select>
						</div>
					</div>


					<div class="layui-form-item">
						<label class="layui-form-label">区服名称</label>
						<div class="layui-input-block">
							<input type="text" name="name" placeholder="请输入" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">排序</label>
						<div class="layui-input-block">
							<input type="number" name="sort" placeholder="默认0越大越靠前" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="pear-btn pear-btn-primary pear-btn-sm" lay-submit
								lay-filter="saveBtn">立即提交</button>
						</div>
					</div>
				</form>
			</div>

		</div>

	</div>
	<script src="../../component/layui/layui.js"></script>
	<script src="../../component/pear/pear.js"></script>
	<script>
		layui.use(['form', 'element'], function () {
			var form = layui.form;
			var element = layui.element;

			var $ = layui.$;


			form.on('submit(saveBtn)', function (data) {
				// 首先确保引入了 jQuery 和 layui
				// 然后使用以下代码获取选中的文本值
				var selectedText = $('select[name="gid"] option:selected').text();
				data.field['game_name']=selectedText;
				$.ajax({
					type: "post",
					url: ServerURL + "/GameServer/createGameServer",
					data: data.field,
					dataType: "json",
					success: function (response) {
						console.log(data.field);
						layer.msg(response.msg, { time: 1000 }, function () {
							if (response.code == 200) {
								parent.layer.close(parent.layer.getFrameIndex(window.name)); //先得到当前iframe层的索引,再执行关闭 
								parent.layui.table.reload('table_list', {}, 'json');//刷新父级页面
							}
						});
					}
				});

				return false;
			});

			InitSelect(ServerURL + "/Game/getGameList", 'gid', {limit: 999});
					
			form.render();
			function InitSelect(url, node, data) {
				$.ajax({
					type: "POST",
					url: url,
					data: data,
					dataType: "json",
					async: false,
					success: function (data) {
						var list = data.data.list;
						$("select[name='" + node + "']").html('');
						var option = document.createElement("option");
						option.setAttribute("value", '');
						option.innerText = '请选择';
						$("select[name='" + node + "']").append(option)
						if (list != null || list.size() > 0) {
							for (var c in list) {
								var option = document.createElement("option");
								option.setAttribute("value", list[c].gid);
								option.innerText = list[c].name;
								$("select[name='" + node + "']").append(option)
							}
						}
						;

					}
				});
			}
		});
	</script>

</body>

</html>