<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title></title>
	<link href="../../component/pear/css/pear.css" rel="stylesheet">
</head>

<body class="pear-container">
	<div class="layui-row layui-col-space10">
		<div class="layui-col-md12">

			<div class="layui-card" style="margin-top: 10px; padding-top: 20px;padding-bottom: 20px;">
				<form class="layui-form" action="" lay-filter="MyForm" autocomplete="off">
					<input type="text" name="wid" class="layui-input layui-hide">
					<!-- <div class="layui-form-item">
						<label class="layui-form-label">用户ID</label>
						<div class="layui-input-block">
							<input type="text" name="uid" placeholder="请输入" class="layui-input" disabled readonly>
						</div>
					</div> -->

					<div class="layui-form-item">
						<label class="layui-form-label">用户名</label>
						<div class="layui-input-block">
							<input type="text" name="username" placeholder="请输入" class="layui-input" disabled readonly>
						</div>
					</div>

					<!-- <div class="layui-form-item">
						<label class="layui-form-label">用户昵称</label>
						<div class="layui-input-block">
							<input type="text" name="nick_name" placeholder="请输入" class="layui-input" disabled readonly>
						</div>
					</div> -->


					<div class="layui-form-item">
						<label class="layui-form-label">提现金额</label>
						<div class="layui-input-block">
							<input type="number" name="money" placeholder="请输入" class="layui-input" disabled readonly>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">手续费</label>
						<div class="layui-input-block">
							<input type="number" name="server_money" placeholder="请输入" class="layui-input" disabled
								readonly>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">打款金额</label>
						<div class="layui-input-block">
							<input type="number" name="general_money" placeholder="请输入" class="layui-input" disabled
								readonly>
						</div>
					</div>

					<!-- <div class="layui-form-item">
						<label class="layui-form-label">提现方式</label>
						<div class="layui-input-block">
							<input type="radio" name="pay_type" value="1" title="微信" readonly>
							<input type="radio" name="pay_type" value="2" title="支付宝" readonly>
						</div>
					</div> -->


					<div class="layui-form-item">
						<label class="layui-form-label">支付宝姓名</label>
						<div class="layui-input-block">
							<input type="text" name="alipay_real_name" placeholder="请输入" class="layui-input" disabled
								readonly>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">支付宝账号</label>
						<div class="layui-input-block">
							<input type="text" name="alipay_account" placeholder="请输入" class="layui-input" disabled
								readonly>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">提现状态</label>
						<div class="layui-input-block">
							<input type="radio" name="deal_status" value="1" title="审核中" checked>
							<input type="radio" name="deal_status" value="2" title="通过">
							<input type="radio" name="deal_status" value="3" title="拒绝">
						</div>

					</div>

					

					<div class="layui-form-item">
						<label class="layui-form-label">审核时间</label>
						<div class="layui-input-block">
							<input type="text" name="deal_time" placeholder="" class="layui-input" disabled>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">创建时间</label>
						<div class="layui-input-block">
							<input type="text" name="create_time" placeholder="请输入" class="layui-input" disabled>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">更新时间</label>
						<div class="layui-input-block">
							<input type="text" name="update_time" placeholder="请输入" class="layui-input" disabled>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="pear-btn pear-btn-primary pear-btn-sm" lay-submit
								lay-filter="saveBtn">立即提交</button>
						</div>
					</div>
				</form>
			</div>

		</div>

	</div>
	<script src="../../component/layui/layui.js"></script>
	<script src="../../component/pear/pear.js"></script>

	<script>
		layui.use(['form', 'element', 'upload', 'laydate', 'util'], function () {
			var form = layui.form;
			var element = layui.element;
			var upload = layui.upload;
			var laydate = layui.laydate;
			var util = layui.util;
			var $ = layui.$;
			form.on('submit(saveBtn)', function (data) {
				$.ajax({
					type: "post",
					url: ServerURL + "/Withdraw/modifyWithdraw",
					data: data.field,
					dataType: "json",
					success: function (response) {
						layer.msg(response.msg, { time: 1000 }, function () {
							if (response.code == 200) {
								parent.layer.close(parent.layer.getFrameIndex(window.name)); //先得到当前iframe层的索引,再执行关闭 
								parent.layui.table.reload('table_list', {}, 'json');//刷新父级页面
							}
						});
					}
				});

				return false;
			});

			$.ajax({
				type: "post",
				url: ServerURL + "/Withdraw/getWithdrawInfo",
				data: { wid: parent.Id },
				dataType: "json",
				success: function (response) {
					if (response.code == 200) {
						response.data.deal_time = util.toDateString(response.data.deal_time, 'yyyy-MM-dd HH:mm:ss')

						form.val('MyForm', response.data)
						form.render();
					} else {
						layer.msg(response.msg, { time: 3000 }, function () {
						});
					}
				}
			});


		});

	</script>

</body>

</html>